.about_me{
    position: relative;
    background-color: black;
    height:100%;
    width:100vw;
    overflow: hidden;

}

@media only screen and (max-width: 1023px){

    .about_me{
        overflow: visible;
    }

}

