.hire_me{
    display: flex;
    justify-content: center;
    text-align: center;
    color:white;
    width: 100%;
}
.hire_me__container{
    position: relative;
    margin: 10vh;
    width:50%;
}
.hire_me__container h1{
    margin: 3vh;
}
.hire_me__container .text{
    margin: 10vh;
    font-family: Raleway;
    letter-spacing: 2px;
    font-weight: bold;
}
.hire_me__container .message{
    margin: 2vh;
    font-family: Raleway;
    letter-spacing: 2px;
    font-weight: bold;
}
.hire_me a {
    position: relative;
    color:white;
    background-color: white;
    height: 100px;
    width: 100px;
 }