

.my_work{
    position: relative;
    height:100vh;
    overflow: hidden;
    background-color: black;
    z-index: 0;
    font-family: 'Playfair Display';
}

.my_work h1 {
    position: relative;
    text-align: center;
    top: 10vh;  
    color: white;
    text-shadow: -1px -1px 1px rgb(3, 187, 3), -1px 1px 1px rgb(3, 187, 3), 1px -1px 1px rgb(3, 187, 3), 1px 1px 1px rgb(3, 187, 3),
      0 0 5px rgb(3, 187, 3), 0 0 15px rgb(3, 187, 3), 0 0 25px rgb(3, 187, 3),
      0 0 40px rgb(3, 187, 3), 0 0 50px rgb(3, 187, 3), 0 0 60px rgb(3, 187, 3), 0 0 80px rgb(3, 187, 3), 0 0 110px rgb(3, 187, 3), 0 0 210px rgb(3, 187, 3);
}

.my_work__container{
    position: relative;
    width: 100%;
    top: 15vh;
    height: 50%;
}
.my_work__project_one{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50%;
    padding:5vh;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.my_work__project_two{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50%;
    padding:5vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.my_work__project_one .my_work__description, .my_work__project_two .my_work__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:35%;
    color:white;
    font-size: 13px;
    letter-spacing: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 2em;
    
}
.my_work__project_one .my_work__image{
    margin-right: 100px;
}
.my_work__project_one .my_work__description{
    margin-right: 100px;
}
.my_work__project_one .my_work__two__image{
    margin-left: 100px;
}
.my_work__project_two .my_work__description{
    margin-left: 100px;
}

.my_work__description button{
    position: relative;
    margin-top: 2vh;
    font-size: 20px;
    background: rgba(255, 255, 255, 0);
    padding: 12px 20px 12px 20px;
    color: white;
    border: 2px solid rgb(0, 247, 0);
    border-radius: 30px;
    transition: .3s ease-out;
    outline:none;
}

.my_work__description button:hover{
    color: black;
    background-color:rgb(0, 247, 0);
    transition: all 0.4s ease-out;
      padding: 12px 20px 12px 20px;
      cursor: pointer;
      transition: .2s ease-out;
}

.my_work__image{
    transition: all 0.3s ease-out;
    width:25%;
    transform: scale(1.3); 
}
.my_work__image:hover{
    filter: brightness(1.3);
    transform: scale(1.4); 
    transition: .2s;
}
.my_work__image img{ 
    max-width:100%;  
}

//responsiveness
@media only screen and (max-width: 1240px){
    
    .my_work__project_one .my_work__description, .my_work__project_two .my_work__description{
        font-size: 12px;
    }
    .my_work__description button{
        margin-top: 2vh;
        font-size: 18px;  
    }
    .my_work__project_one .my_work__image{
        margin-right: 80px;
        transform: scale(1.5);
        
    }
    .my_work__project_two .my_work__image{
        transform: scale(1.5);
    }
}
@media only screen and (max-width: 880px){
    .my_work{
        text-align: center;
        overflow: visible;
        left:20px;
    }
    .my_work__container{
        top: 15vh;
        height: 100%;
    }
    .my_work__project_one{
        flex-direction: column-reverse;
        padding:0;  
        margin-bottom: 30px;
    }
    .my_work__project_two{
        flex-direction: column-reverse;
        padding:0;
        padding-bottom: 30px;

    }
    .my_work__image{
        width:35%
    }
    .my_work__project_one .my_work__image{
        margin-right: 0;
       
    }
    .my_work__project_one .my_work__description{
        margin-top: 40px;
        margin-right: 0;
        width: 80%;
    }
    .my_work__project_two .my_work__image img{
        border: 1px dotted rgb(0, 247, 0);
    }
    
    .my_work__project_two .my_work__description{
        margin-top: 40px;
        margin-left: 0;
        width: 80%;
    }
}
@media only screen and (max-width: 767px){
   .my_work{
       left:0px;
   }
    
    .my_work__project_one .my_work__description, .my_work__project_two .my_work__description{
       font-size: 10px;
        
    }
    .my_work__description button{
        font-size: 14px;
    }
    .my_work__project_one{
        flex-direction: column-reverse;
        padding:0;  
        margin-bottom: 0px;
    }
    .my_work__project_two{
        transform: translateY(-10%);
    }
}
@media only screen and (max-width: 625px){
   
    .my_work__project_one .my_work__description, .my_work__project_two .my_work__description{
       font-size: 8px;  
    }
    .my_work__description button{
        font-size: 12px;
    }
    .my_work__project_two{
        transform: translateY(-15%);
    }
}
