
.skills{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    color:white;
    width: 100%;
}
.skills h1{
    padding: 3vh;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    height:10vh
   
}
.skills__images_container{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40%;
    margin-top:10vh;
    height: 60vh;
    margin-right: 3vw;

}

.skills h2{
    margin-top: 7vh;
}
.skills__text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%;
    margin-top: 10vh;
    margin-bottom:2vh;
    height: 60vh;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Raleway;
}
.skills__text_container p{
    font-size: 24px;
    margin: 1vh;
    width: 80%;
}

.skills__images{
    z-index: 1;
    
}
.skills__images ul{
    display: flex;
    list-style: none;
    justify-content: center;
    width:100%;
    z-index: 1;
}

.skills__images img{
    width: 10vh;
    height:10vh;
    z-index: 1;
    margin:25px;
  
}