* {
    margin: 0;
    padding:0;
    
}
body{
  background-color: black;
  overflow: hidden;
}
@font-face {
    font-family: 'Matrix-MZ4P';
    src: local('Matrix-MZ4P'), url(./fonts/Matrix-MZ4P.ttf) format('opentype');
  }
  
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

video {

  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: 0;
  background-size: cover;
  overflow: hidden;
  animation: opacity 59s infinite;
 
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}